* {
  padding: 0;
  margin: 0;
}
.header_1 {
  background-color: #2f3440;
}
.header {
  display: flex;
  width: 1205px;
  margin: 0 auto;
  background-color: #2f3440;
  height: 60px;
}
.header .header_left {
  max-width: 180px;
  flex: 1;
}
.header .header_left img {
  height: 100%;
}
.header .header_left_2 {
  display: flex;
  flex: 1;
  align-items: center;
}
.header .header_left_2 a {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  text-decoration: none;
}
.header .header_center {
  flex: 1;
}
.header .header_right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.header .header_right .top_3_header {
  display: flex;
  align-items: center;
}
.header .header_right .top_3_header a {
  text-decoration: none;
  color: white;
}
.header .header_right .top_3_header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.header_center {
  display: flex;
  align-items: center;
}
.header_center .search {
  margin: 0 auto;
  width: 300px;
  height: 40px;
  line-height: 40px;
  display: flex;
}
.header_center .search .search_1 {
  width: 80px;
  z-index: 1000;
  padding-left: 20px;
  border: 1px solid gray;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #444444;
  border-right: none;
  position: relative;
  box-sizing: border-box;
}
.header_center .search .search_1 ul {
  list-style: none;
  height: 40px;
  overflow: hidden;
  color: white;
}
.header_center .search .search_1 .jia {
  position: absolute;
  color: white;
  right: 0;
  top: 0;
}
.header_center .search .search_1:hover ul {
  animation: laxia 2s linear;
  animation-fill-mode: forwards;
}
.header_center .search .search_2 {
  flex: 3;
}
.header_center .search .search_2 input {
  background-color: #444444;
  border: 1px solid gray;
  box-sizing: border-box;
  border-right: none;
  border-left: none;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.header_center .search .search_3 {
  background-color: #444444;
  flex: 1;
  border: 1px solid gray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: none;
  color: white;
  text-align: center;
}
.video {
  height: 600px;
  background-color: #686868;
  display: flex;
}
.video .video_left {
  flex: 1;
  position: relative;
  display: flex;
  padding: 60px 40px;
  flex-direction: column;
  color: white;
}
.video .video_left a {
  position: absolute;
  top: 20px;
  left: 0;
  color: black;
  background-color: #999;
  text-decoration: none;
  font-size: 14px;
}
.video .video_left .tidai {
  width: 750px;
  margin-top: 10px;
  height: 400px;
  background-color: red;
}
.video .video_right {
  width: 300px;
  background-color: green;
  display: flex;
  flex-direction: column;
}
.video .video_right .right_top {
  height: 45px;
  background-color: #d5d2da;
  text-align: center;
  line-height: 45px;
}
.video .video_right .right_bottom {
  background-color: yellow;
}
.footer_1 {
  background: #474443;
}
.footer_1 .footer {
  height: 184px;
  margin: 0 auto;
  width: 1205px;
  background: #474443;
  box-sizing: border-box;
  padding: 30px 3%;
  font-size: 14px;
  color: #fff;
}
.footer_1 .footer .left {
  float: left;
}
.footer_1 .footer .left ul {
  list-style: none;
  display: flex;
  margin: 30px 0;
}
.footer_1 .footer .left ul li {
  margin: 0 8px;
  color: #fff;
}
.footer_1 .footer .left ul li:nth-child(1) {
  margin-left: 0;
}
.footer_1 .footer .left p:nth-child(3) {
  color: #999;
}
.footer_1 .footer .right {
  float: right;
}
.footer_1 .footer .right p {
  font-weight: bold;
}
.footer_1 .footer .right p:nth-child(3) .time {
  font-weight: normal;
  font-size: 12px;
  color: #ded5d5;
}
.footer_1 .footer .right p:nth-child(4) {
  font-size: 20px;
}
/*# sourceMappingURL=coursePlay.css.map */