*{
  padding: 0;
  margin: 0;
}

body{
  background: rgb(245,245,245);
}

.container{
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
h2{
  text-align: center;
}
.time{
  font-size: 12px;
  color: #999999;
  text-align: center;
  margin-bottom: 40px;
}
.content{
  line-height: 1.5;
  text-indent: 32px;
}
.header_1{
  background-color: rgb(47,52,64);
}

.header{
  display: flex;
  width: 1205px;
  margin: 0 auto;

  background-color: rgb(47,52,64);
  height: 60px;
  .header_left{
    max-width: 180px;
    flex:1;
    img {
      height: 100%;
    }
  }
  .header_left_2{
    display: flex;
    flex:1;
    align-items: center;
    a{
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 18px;
      text-decoration: none;
    }
  }
  .header_center{
    flex:1;
  }
  .header_right{
    flex:1;
    display: flex;
    justify-content: flex-end;
    .top_3_header{

      display: flex;
      align-items: center;

      a{
        text-decoration: none;
        color: white;
      }
      img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
  }
}


//搜索框
.header_center{
  display: flex;
  align-items: center;

  .search {
    margin: 0 auto;
    width: 300px;
    height: 40px;
    line-height: 40px;
    //  background-color: red;
    display: flex;

    .search_1 {
      width: 80px;
      z-index: 1000;
      padding-left: 20px;
      border: 1px solid gray;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      background-color: rgb(68,68,68);
      border-right: none;
      position: relative;
      box-sizing: border-box;

      ul {
        list-style: none;
        height: 40px;
        overflow: hidden;
        color: white;

      }

      .jia {
        position: absolute;
        color: white;
        right: 0;
        top: 0;
      }

      &:hover ul {
        animation: laxia 2s linear;
        animation-fill-mode: forwards;
      }


    }

    .search_2 {
      flex: 3;
      //   background-color: yellow;


      input {
        background-color: rgb(68,68,68);
        border: 1px solid gray;
        box-sizing: border-box;
        border-right: none;
        border-left: none;
        width: 100%;
        height: 100%;
        vertical-align: top;
      }
    }

    .search_3 {
      background-color: rgb(68,68,68);
      flex: 1;
      border: 1px solid gray;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border-left: none;
      color: white;
      //padding-left: 20px;
      text-align: center;
    }

  }
}

.footer_1{
  background: #474443;

  .footer{
    height: 184px;
    margin: 0 auto;
    width: 1205px;
    background: #474443;
    box-sizing: border-box;
    //padding: 16px 340px;
    padding: 30px 3%;
    font-size: 14px;

    color: #fff;
    .left{
      float: left;
      ul{
        list-style: none;
        display: flex;
        margin: 30px 0;
        li{
          margin: 0 8px;
          color: #fff;
        }
        li:nth-child(1){
          margin-left: 0;
        }
      }
      p:nth-child(3){
        color: #999;
      }
    }
    .right{
      float: right;
      p{
        font-weight: bold;
      }
      p:nth-child(3) .time{
        font-weight: normal;
        font-size: 12px;
        color: #ded5d5;
      }
      p:nth-child(4){
        font-size: 20px;
      }
    }

  }
}