* {
  margin: 0;
  padding: 0;
}
body {
  background: #f5f5f5;
}
.header_1 {
  background-color: #2f3440;
}
.header {
  display: flex;
  width: 1205px;
  margin: 0 auto;
  background-color: #2f3440;
  height: 60px;
}
.header .header_left {
  max-width: 180px;
  flex: 1;
}
.header .header_left img {
  height: 100%;
}
.header .header_left_2 {
  display: flex;
  flex: 1;
  align-items: center;
}
.header .header_left_2 a {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  text-decoration: none;
}
.header .header_center {
  flex: 1;
}
.header .header_right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.header .header_right .top_3_header {
  display: flex;
  align-items: center;
}
.header .header_right .top_3_header a {
  text-decoration: none;
  color: white;
}
.header .header_right .top_3_header img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.header_center {
  display: flex;
  align-items: center;
}
.header_center .search {
  margin: 0 auto;
  width: 300px;
  height: 40px;
  line-height: 40px;
  display: flex;
}
.header_center .search .search_1 {
  width: 80px;
  z-index: 1000;
  padding-left: 20px;
  border: 1px solid gray;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #444444;
  border-right: none;
  position: relative;
  box-sizing: border-box;
}
.header_center .search .search_1 ul {
  list-style: none;
  height: 40px;
  overflow: hidden;
  color: white;
}
.header_center .search .search_1 .jia {
  position: absolute;
  color: white;
  right: 0;
  top: 0;
}
.header_center .search .search_1:hover ul {
  animation: laxia 2s linear;
  animation-fill-mode: forwards;
}
.header_center .search .search_2 {
  flex: 3;
}
.header_center .search .search_2 input {
  background-color: #444444;
  border: 1px solid gray;
  box-sizing: border-box;
  border-right: none;
  border-left: none;
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.header_center .search .search_3 {
  background-color: #444444;
  flex: 1;
  border: 1px solid gray;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-left: none;
  color: white;
  text-align: center;
}
.head {
  height: 189px;
  background-image: url("../images/images/teacher_back.png");
}
.head .container {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 40px;
  display: flex;
}
.head .container .img {
  width: 90px;
  height: 90px;
  border: 5px solid #f5ca9c;
  margin-right: 20px;
}
.head .container .img img {
  height: 100%;
  width: 100%;
}
.head .container .text p:nth-child(1) {
  color: #fff;
  font-size: 20px;
  padding: 16px 0;
}
.head .container .text p:nth-child(2) {
  color: #fff;
  font-size: 14px;
}
.nav-1 {
  height: 60px;
  background: #fff;
}
.nav-1 .menu {
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}
.nav-1 .menu .item {
  color: #51b257;
  border-bottom: 4px solid #51b257;
  width: 40px;
  line-height: 40px;
}
.content {
  background-color: #f5f5f5;
  margin-bottom: 10px;
}
.content .content_1 {
  width: 1205px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.content .content_1 .postCard {
  margin-right: 20px;
  display: flex;
  width: 218px;
  height: 252px;
  border-radius: 5px;
  margin-top: 10px;
  overflow: hidden;
  background-color: white;
  position: relative;
  flex-direction: column;
}
.content .content_1 .postCard .postCard_top {
  height: 130px;
  width: 100%;
  position: relative;
}
.content .content_1 .postCard .postCard_top .postCard_top_float {
  position: absolute;
  top: 5px;
  left: 0;
  width: 48px;
  font-size: 12px;
  color: #fff;
  padding-left: 10px;
  z-index: 10;
  background: url("../images/images/layout_css_sprites.png") no-repeat -16px -57px;
}
.content .content_1 .postCard .postCard_top .postCard_top_top {
  width: 100%;
  height: 130px;
  z-index: 1;
}
.content .content_1 .postCard .postCard_top .postCard_top_top a {
  display: block;
  width: 100%;
  height: 100%;
}
.content .content_1 .postCard .postCard_top .postCard_top_top a img {
  width: 100%;
  height: 100%;
  transition: all 10s linear;
}
.content .content_1 .postCard .postCard_top .postCard_top_top a img:hover {
  transform: scale(1.1, 1.1);
}
.content .content_1 .postCard .postCard_bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.content .content_1 .postCard .postCard_bottom_top {
  flex: 4;
  color: #333;
  font-size: 14px;
}
.content .content_1 .postCard .postCard_bottom_center {
  flex: 2;
}
.content .content_1 .postCard .postCard_bottom_center .postCard_bottom_center_span {
  height: 13px;
  width: 15px;
}
.content .content_1 .postCard .postCard_bottom_center span {
  display: inline-block;
  width: 57px;
  height: 10px;
  overflow: hidden;
  position: relative;
  font-size: 2px;
  text-align: center;
}
.content .content_1 .postCard .postCard_bottom_center span span {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}
.content .content_1 .postCard .postCard_bottom_center .star_gray {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 57px;
  height: 10px;
  background: url("../images/images/layout_css_sprites.png") no-repeat -91px -58px;
}
.content .content_1 .postCard .postCard_bottom_center .star_yellow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  width: 57px;
  height: 10px;
  background: url("../images/images/layout_css_sprites.png") no-repeat -10px -158px;
}
.content .content_1 .postCard .postCard_bottom_bottom {
  flex: 3;
  padding-top: 4px;
}
.footer_1 {
  background: #474443;
}
.footer_1 .footer {
  height: 184px;
  margin: 0 auto;
  width: 1205px;
  background: #474443;
  box-sizing: border-box;
  padding: 30px 0;
  font-size: 14px;
  color: #fff;
}
.footer_1 .footer .left {
  float: left;
}
.footer_1 .footer .left ul {
  list-style: none;
  display: flex;
  margin: 30px 0;
}
.footer_1 .footer .left ul li {
  margin: 0 8px;
  color: #fff;
}
.footer_1 .footer .left ul li:nth-child(1) {
  margin-left: 0;
}
.footer_1 .footer .left p:nth-child(3) {
  color: #999;
}
.footer_1 .footer .right {
  float: right;
}
.footer_1 .footer .right p {
  font-weight: bold;
}
.footer_1 .footer .right p:nth-child(3) .time {
  font-weight: normal;
  font-size: 12px;
  color: #ded5d5;
}
.footer_1 .footer .right p:nth-child(4) {
  font-size: 20px;
}
/*# sourceMappingURL=teacherDetails.css.map */